@import "../../variables";

.ant-btn-primary {
   background: $green-color;
   border: 1px solid $green-color;
   transition: 0.3s linear;

   &:hover {
     background: transparent;
     border: 1px solid $green-color;
     color: #000;
   }

   &:active {
     background: $green-color;
     border: 1px solid $green-color;
     color: $white-color;
   }
   &:focus {
     background: $green-color;
     border: 1px solid $green-color;
     color: $white-color;
   }
 }
.ant-btn-default {
  border: 1px solid $green-color;


  &:hover {
    background: $green-color;
    border: 1px solid $green-color;
    color: $white-color;
  }

  &:active {
    color: $green-color;
    border-color: $green-color;
  }

  &:focus {
    color: $green-color;
    border-color: $green-color;
  }
}

