@import '~antd/dist/antd.css';
@import "variables";

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: $montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
