@import "../../variables";

.film-item {
  width: 250px;
  margin-bottom: 40px;
  padding: 0 15px;

  &__content {
    cursor: pointer;
  }

  &_gap {
    height: 0;
    padding: 0;
    margin: 0;
  }

  &__reaction {
    svg {
      color: $green-color;
    }
  }
}
