@import "../../variables";

.app-layout {
  height: 100%;
  background: $white-color;

  &__content {
    width: 1200px;
    margin: 0 auto 50px;
    background: $white-color;
  }
  &__title {
    text-align: center;
    margin: 40px 0;
    font-size: 30px;
  }

  &__form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .ant-layout-content {
    background: $white-color;
  }
}
