@import "../../variables";

.user {
  width: 1200px;

  &__wrapper {
    width: 400px;
    padding: 30px;
    border-radius: 14px;
    border: 1px solid $green-color;
    margin: 0 auto;
    text-align: center;
  }

  &__name {
    font-family: $inter;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 30px;
  }

  &__email {
    display: block;
    margin-bottom: 20px;
  }

  &__title {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
  }

  &__favorites {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  &__notification {
    margin-top: 100px;
  }
}
