@import "../../variables";

.menu {
  border: none;
  background: transparent;
  color: $white-color;
  font-size: 18px;
  &__item {
    &:hover {
      color: $white-color!important;
      border-bottom: 2px solid $white-color!important;
    }
  }

  &__item_active {
    color: $white-color!important;
    border-bottom: 2px solid $white-color!important;
  }

  .ant-menu-item-selected {
    color: $white-color!important;
    border-bottom: 2px solid $white-color!important;
  }

}
