.filter {
  background: transparent;
  margin: 140px 20px 0;

  .ant-form-item-label {
    text-align: left;

    label {
      align-items: initial;
    }
  }

  &__select {
    width: 100%;
    margin-bottom: 30px;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
    }
  }
}
