@import "../../variables";

.film {
  display: flex;
  margin: 0 auto;

  &__title {
    font-size: 30px;
  }

  &__info {
    margin-left: 50px;
  }

  &__genre {
    display: inline-block;
    margin-right: 20px;
    background: transparent;
    border: 1px solid $green-color;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &__point {
    font-size: 17px;
    margin-top: 20px;
  }

  &__description-title {
    margin-top: 50px;
    font-weight: bold;
  }

  &__description {
    width: 500px;
  }
}
