@import "../../variables";

.films {
  &__wrapper {
    width: 1200px;
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__gap {
    width: 0;
    height: 0;
  }

  &__empty {
    margin: 0 auto;
  }

  &__search {
    padding: 15px;
    margin-bottom: 70px;
    .ant-input-affix-wrapper {
      &:hover {
        border: 1px solid $green-color!important;
      }
    }
    button {
      background: $green-color;
      border: 1px solid $green-color;
      &:hover {
        background: transparent;
        border: 1px solid $green-color;
        color: #000;
      }
    }
  }
}

