@import "../../variables";

.popover {

  &__info {
    margin: 24px 0;
  }
  &__name {
    font-family: $inter;
    font-weight: bold;
    text-transform: capitalize;
  }

  &__email {
    color: #7A7E80;
    font-weight: normal;
  }

  &__button {
    background: $green-color;
    border: 1px solid $green-color;
    border-radius: 8px;
    width: 100%;

    &:hover {
      color: #000;
      background: $white-color;
      border: 1px solid $green-color;
    }
  }
}

.ant-popover-inner {
  text-align: center;
  padding: 30px 25px;
  border-radius: 14px;
}
.ant-popover-inner-content {
  padding: 0;
}
.ant-popover-arrow {
  display: none;
}
