@import "../../variables";

.header {
  height: 90px;
  background: $green-color;

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    cursor: pointer;
  }

  &__popover {
    cursor: pointer;
  }
}
