@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: $green-color;

  &__logo {
    cursor: pointer;
  }

  &__popover {
    cursor: pointer;
  }
}
